{{#each this}}
 <li class="gallery-item">
 <div class="photo-card">
            <img src="{{webformatURL}}" alt="" data-largeImage="{{largeImageURL}}"  height="200 />
             <div class="stats">
                <p class="stats-item">
                    <i class="material-icons">thumb_up</i> 1108
                    {{likes}}
                </p>
                <p class="stats-item">
                    <i class="material-icons">visibility</i> 320321
                    {{views}}
                </p>
                <p class="stats-item">
                    <i class="material-icons">comment</i> 129
                    {{comments}}
                </p>
                <p class="stats-item">
                    <i class="material-icons">cloud_download</i> 176019
                    {{downloads}}
                </p>
                </div>
        </div>
         </li>
  {{/each}}